@using System.Diagnostics
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>알려주카</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Capstone.styles.css" asp-append-version="true" />
</head>

<body>
    <style>
        a {
            display: block;
            width: 100%;
            text-decoration: none;
            color: black;
        }

            a:hover {
                color: black
            }

        .footer-up {
            display: flex;
        }

        .footer-info {
            margin-right: auto;
        }

        .footer-up img {
            float: right;
        }
    </style>

    <header class="main-head">

        <div class="logo">
            <a asp-page="/Index"><img class="main-logo" src="~/main-logo-50%.png" alt="main_logo" /></a>
        </div>

        <div class="search-bar">
            <img src="~/g-logo.png" alt="Logo">
            <input type="text" id="search-input" placeholder="검색어를 입력해주세요." />
            <button class="search-button" type="button" onclick="performSearch()">
                <img src="~/search-button.png" alt="Search">
            </button>
        </div>

        <script>
            function performSearch() {
                var query = document.getElementById('search-input').value;
                if (query) {
                    var url = 'https://www.google.co.kr/search?q=' + encodeURIComponent(query);
                    window.location.href = url;
                }
            }
        </script>


        <div class="user-options">

            <span>
                @{
                    if (!Context.Request.Cookies.ContainsKey("UserCookie"))
                    {
                        <a asp-page="/Login">로그인</a>
                    }
                    else
                    {
                        <a asp-page="/Logout">로그아웃</a>
                    }
                }
            </span>

            <span>고객센터</span>
        </div>

    </header>

    <style>
        .taps nav ul li a {
            padding: 20px;
        }
    </style>

    <div class="taps">
        <nav>
            <ul>
                <li>
                    <a asp-page="/Job/JobPages" class="job">취업</a>
                </li>
                <li>
                    <a asp-page="/LifeInfo/LifeThread" class="life-info">생활정보</a>
                </li>
                <li>
                    <a asp-page="/InfraStructure" class="infra">인프라구축</a>
                </li>
                <li>
                    <a asp-page="/MyPage" class="my-page">마이페이지</a>
                </li>
            </ul>
        </nav>
    </div>

    <style>
        .page-body {
            display: grid;
            grid-template-columns: 1fr 8fr 1fr;
        }

        .page-buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 5px;
        }

        .page-button {
            display: inline-block;
            padding: 10px 10px;
            font-size: 16px;
            color: #fff;
            background-color: #007bff;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease
        }
    </style>

    <div class="page-body">

        <div id="lsection">
            @RenderSection("lsection", required: false)
        </div>

        <main role="main" class="pb-3">
            <div>
                @RenderBody()
            </div>
            <div class="page-buttons">
                @{
                    object? maxPageCountDynamic = ViewData["MaxPageCount"];

                    if (maxPageCountDynamic != null)
                    {
                        for (int i = 1; i <= (int)maxPageCountDynamic; ++i)
                        {
                            <form method="get">
                                <a class="page-button" asp-page-handler="OnPageButton" asp-route-pageNumber="@i">@i</a>
                            </form>
                        }
                    }
                }
            </div>
        </main>

        <div id="rsection">
            <div class="visitor-counter">
                방문자수 <br>
                @{
                    Database.Database db = Database.Database.Instance;

                    string query = $"select count(*) from VisitLog";
                    using (System.Data.SQLite.SQLiteDataReader? dbReader = db.Select(query))
                    {
                        if (dbReader == null)
                        {
                            Console.WriteLine("cannot read user data from db");
                            return;
                        }

                        dbReader.Read();
                        long count = dbReader.GetInt64(0);

                        <text>@count</text>
                    }
                }
            </div>
        </div>

    </div>

    <footer>
        <style>
            .cmds {
                width: 50%;
                height: 50%;
            }
        </style>
        <div class="footer-up">
            <div class="footer-info">
                <h1>알려주카</h1>
                <p>제주대학교 데이터사이언스학과 CMDS 팀</p>
                <p>팀장: 김지엽 | 팀원: 강승일, 강예빈, 백민하, 이상은</p>
                <p>메일: mail@mail.com  |  연락처: 064-xxx-xxxx</p>
            </div>

            <img class="cmds" src="~/cdms-logo.png" />
        </div>

        <hr />

        <div class="footer-links">
            <div><a href="#">이용약관</a></div>
            <div><a href="#">개인정보 처리 방침</a></div>
            <div><a href="#">채용</a></div>
            <div><a href="#">고객센터</a></div>
            <div><a href="#">저작권 안내</a></div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>